apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm-chart.name" . }}
data:
  discord_bot_token: {{ .Values.config.discordBot.token | b64enc }}
  discord_bot_channel_id: {{ .Values.config.discordBot.channelId | b64enc }}
  discord_bot_roles_server_id: {{ .Values.config.discordBot.roleIds.server | b64enc }}
  discord_bot_roles_ui_id: {{ .Values.config.discordBot.roleIds.ui | b64enc }}
  discord_bot_users_said_id: {{ .Values.config.discordBot.userIds.said | b64enc }}
  discord_bot_users_marc_id: {{ .Values.config.discordBot.userIds.marc | b64enc }}
  discord_bot_users_waleed_id: {{ .Values.config.discordBot.userIds.waleed | b64enc }}
  docker_hub_token: {{ .Values.config.dockerHub.token | b64enc }}
